@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
  font-family: 'Press Start 2P', monospace;
  margin: 2em;
  line-height: 1.5;
  font-size: 16px;
  background-color: #2E24FD;
  min-width: 800px;
  color: #C8C7D8;
  padding-left: 150px;
}

a {
  color: #FFFF00;
}

#blog {
  padding-top: 3em;
  padding-left: 150px;
  padding-right: 100px;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 80%;
  padding-left: 70px;
}

.column {
  font-family: 'Press Start 2P', monospace;
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  font-size: 16px;
  padding-top: 40px;
  padding-left: 10px;
  padding-right: 10px;
}

.date-column {
  color: #2E24FD;
  background-color: #C8C7D8;
  height: 30px;
  text-align: center;
  width: 200px;
  line-height: 30px;
  font-size: 16px;
  margin-top: 5px;
}

.post-column {
  color: #FB2FEC;
  height: 30px;
  font-weight: bold;
  font-size: 16px;
  margin-top: 5px;
}

.post-column:hover {
    color: #FFFF00;
    border-color: #fab846;
    font-family: 'Press Start 2P', monospace;
    transition: 0.01s ease;
    font-weight: 1300;
    -webkit-transform: scale(1.01);
}

img[alt=bunnies] {
  width: 50%;
  border: none;
  background: none;
}
